<div id="post_show_content" class="skinny_wrapper wrapper_padding">

  <header>
    <h1><%= @note.title %></h1>
    <p class="date"><%= @note.created_at.strftime('%A, %B %d') %></p>
    <p><%= @note.author.fb_name %></p>

    <hr>
  </header>

  <div id="content">
    <%= markdown @note.content %>
  </div>

  <br>

  <!-- <% if @note.link_text.present? && @note.link_site.present? %>
    <%= link_to @note.link_text, @note.link_site, class: "view_more" %>

    <br>

    <br>

    <br>

  <% end %> -->

  <div class="wrapper about homepage_content">
    <!-- <hr> -->
    <header class="clearfix">

      <% if @note.link_text.present? && @note.link_site.present? %>
        <h2><%= link_to @note.link_text, @note.link_site, class: "view_more", target: "_blank" %></h2>
      <% end %>

    </header>
    <!-- <hr> -->
  </div>

  <!-- 作者自己可以編輯 OR 開放給其他實驗室成員都能編輯  -->
  <% if @note.is_written_by?(current_user) || (user_signed_in? && @note.is_editable) %>
    <%= link_to "Edit", edit_dashboard_note_path, class: "view_more" %>
  <% end %>

  <!-- 作者自己可以刪除 -->
  <% if @note.is_written_by?(current_user) %>
    <%= link_to "Delete", dashboard_note_path, class: "view_more",
                                               method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

</div>
