<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1><%= @user.english_name %> (<%= @user.taiwan_name %>)</h1>
    <p class="date">入學學年：<%= @user.joined_CYCU_at_which_year %>學年</p>
    <hr>
  </header>




  <div id="content">


    <div id="personal_img">
      <% if @image.present? %>
        <%= image_tag @image.image.url %>
      <% end %>
    </div>

    <br>

    <!-- <h2><%= @user.taiwan_name %></h2> -->

    <br>

    <!-- <h1>入學學年</h1>
    <h2> <%= @user.joined_CYCU_at_which_year %> 學年 </h2> -->

    <br>

    <h1>Introdce Myself</h1>

    <br>

    <%= markdown @user.profile unless @user.profile.nil? %>

    <br>

    <h1>Papers</h1>

    <br>

    <%= markdown @user.paper unless @user.profile.nil? %>

    <br>

    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "edit profile", edit_dashboard_user_path, class: "view_more" %>
      </div>
    <% end %>

  </div>


</div>


<!-- <%= image_tag @user.fb_image %> -->
