<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1><%= @user.english_name %> (<%= @user.taiwan_name %>)</h1>
    <p class="date">入學學年：<%= @user.joined_CYCU_at_which_year %>學年</p>
    <hr>
  </header>

  <div id="content">
    <div id="personal_img">
      <% if @image.present? %>
        <%= image_tag @image.image.url %>
      <% end %>
    </div>

    <br>
    <br>
    <br>

    <h1>Introdce Myself</h1>

    <br>

    <%= markdown @user.profile unless @user.profile.nil? %>

    <br>

    <h1>Papers</h1>

    <br>

    <%= markdown @user.paper unless @user.profile.nil? %>

    <br>

    <% if current_user == @user %>
      <div id="admin_links">
        <%= link_to "edit profile", edit_dashboard_user_path, class: "view_more" %>
      </div>
    <% end %>

  </div>
</div>
