<h1>show action</h1>


<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1><%= @user.english_name %></h1>
    <hr>
  </header>




  <div id="content">


    <div id="personal_img">
    
    </div>

    <br>

    <h2><%= @user.taiwan_name %></h2>

    <br>

    <h1>Introdce Myself</h1>

    <br>

    <%= markdown @user.profile %>

    <br>

    <h1>Papers</h1>

    <br>

    <%= markdown @user.paper %>


    <br>

    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "edit profile", edit_dashboard_user_path %>
      </div>
    <% end %>

  </div>


</div>


<!-- <%= image_tag @user.fb_image %> -->
