<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
    <a href="http://www.el.cycu.edu.tw/wSite/ct?xItem=59028&ctNode=20241&mp=46002">繆紹綱</a>
    老師所主持的：
    多媒體計算與通訊實驗室 <br>
    (Multimedia Computing and Telcommunications Lab,
    <span style="font-weight:bold;">Mu-Cat</span>)。</p>

    <p>本實驗室兼顧學術性之研究以及實務應用系統之開發。</p>

    <p>舉凡生醫訊號、音頻訊號、影像、視訊等多媒體資訊之 <br>
    <span style="font-weight:bold;">
    壓縮、辨識、合成、儲存、傳輸及網路安全
    </span>
    等問題，都是目前本實驗室所感興趣的課題。</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Resources</h2>
    <hr>
    <% @notes.each do |note| %>
      <h3><a href="#"><%= link_to note.title, note %></a></h3>
      <p class="date"><%= note.created_at.strftime("%b %d, %Y") %></p>
    <% end %>
    <%= link_to "View More", notes_path, class: "view_more" %>
  </div>
  <div class="col-3  homepage_content ">
    <h2>Bulletin Board</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%b %d, %Y") %></p>
    <% end %>
    <%= link_to "View More", posts_path, class: "view_more" %>
  </div>
</div>
