<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1>Edit Your Profile</h1>
  </header>

  <h2>上傳個人大頭照</h2>

  <div id="personal_img">
    <img id='preview' src="#">

    <br>

    <%= file_field_tag :image %>
  </div>



  <%= form_for current_user, url: dashboard_user_path, method: :patch do |f| %>
    <h2><%= f.label :taiwan_name, "中文名字", :required => true %></h2>
    <%= f.text_field :taiwan_name %>

    <br>

    <h2><%= f.label :english_name, "English Name", :required => true %></h2>
    <%= f.text_field :english_name %>


    <br>
    <h2>學籍</h2>



    <div class="ui toggle checkbox">
      <%= f.check_box(:has_graduated) %>
      <%= label_tag(:has_graduated, "已經畢業") %>
    </div>

    <br>
    <br>

    <div class="">
      <%= f.label :academic_degree, "現在學歷：" %>
      <%= f.select :academic_degree, [["大學生", "college"], ["研究生", "master"], ["博士生", "Ph.D"]], {}, class: "ui dropdown" %>
    </div>

    <br>

    <h2><%= f.label :joined_CYCU_at_which_year, "入學學年" %></h2>
    <%= f.text_field :joined_CYCU_at_which_year %>

    <br>

    <h2><%= f.label :profile, "Profile" %></h2>

    <%= f.text_area :profile, placeholder: "introduce yourself", :required => true %>

    <br>

    <h2><%= f.label :paper, "論文題目" %></h2>
    <%= f.text_area :paper, placeholder: "The target you research", :required => true %>


    <br>

    <%= f.submit %>
  <% end %>

</div>

<div class="ui modal">
  hello

</div>


<%= content_for :header do %>
  <script>
  $(function(){
    $(".ui.dropdown").dropdown()

    $('#preview').hide();

    $('#image').change(function(){
      var formData = new FormData(),
          $input = $(this);
      formData.append('image[image]', $input[0].files[0]);
      $.ajax({
        url: '<%= dashboard_image_upload_path %>',
        data: formData,
        type: 'PUT',
        cache:false,
        contentType: false,
        processData: false
      }).done(function(result){
          console.log(result.image_url);
          $('#preview').attr('src', result.image_url ).show();
      });
    })
  })

  </script>
<% end %>
