<h1>This edit action</h1>

<h4>FB name： <%= current_user.fb_name %></h4>

<div id="personal_img">
  <img id='preview' src="#">

  <br>

  <%= file_field_tag :image %>
</div>

<br>


<div class="skinny_wrapper wrapper_padding">

  <%= form_for current_user, url: dashboard_user_path, method: :patch do |f| %>
    <%= f.label :taiwan_name, "Name", :required => true %>
    <%= f.text_field :taiwan_name %>

    <br>

    <%= f.label :english_name, "English Name", :required => true %>
    <%= f.text_field :english_name %>


    <br>

    <div class="ui toggle checkbox">
      <%= f.check_box(:has_graduated) %>
      <%= label_tag(:has_graduated, "已經畢業") %>
    </div>

    <br>

    <div class="">
      <%= f.label :academic_degree, "現在學歷" %>
      <%= f.select :academic_degree, [["大學生", "college"], ["研究生", "master"], ["博士生", "Ph.D"]], {}, class: "ui dropdown" %>
    </div>

    <br>

    <%= f.label :joined_CYCU_at_which_year, "入學學年" %>
    <%= f.text_field :joined_CYCU_at_which_year %>

    <br>

    <h1><%= f.label :profile, "Profile" %></h1>

    <%= f.text_area :profile, placeholder: "introduce yourself", :required => true %>

    <br>

    <%= f.label :paper, "論文題目" %>
    <%= f.text_area :paper, placeholder: "The target you research", :required => true %>


    <br>

    <%= f.submit %>
  <% end %>

</div>

<div class="ui modal">
  hello

</div>


<%= content_for :header do %>
  <script>
  $(function(){
    $(".ui.dropdown").dropdown()

    $('#image').change(function(){
      var formData = new FormData(),
          $input = $(this);
      formData.append('image[image]', $input[0].files[0]);
      $.ajax({
        url: '<%= dashboard_image_upload_path %>',
        data: formData,
        type: 'PUT',
        cache:false,
        contentType: false,
        processData: false
      }).done(function(result){
          console.log(result.image_url);
          $('#preview').attr('src', result.image_url );
      });
    })
  })

  </script>
<% end %>
