<h1>This edit action</h1>

<h4>FB name： <%= @user.fb_name %></h4>

<div id="personal_img">
  <img id='preview' src="#">

  <br>

  <%= file_field_tag :image %>
</div>

<br>


<%= form_for @user, url: dashboard_user_path, method: :patch do |f| %>

  <%= f.label :taiwan_name, "Name" %>
  <%= f.text_field :taiwan_name %>

  <br>

  <%= f.label :english_name, "English Name" %>
  <%= f.text_field :english_name %>



  <br>

  <%= f.label :profile, "Profile" %>
  <%= f.text_area :profile %>

  <br>

  <%= f.label :paper, "論文題目" %>
  <%= f.text_area :paper %>


  <br>

  <%= f.submit %>
<% end %>

<div class="ui modal">
  hello

</div>


<%= content_for :header do %>
  <script>
  $(function(){
    $('#image').change(function(){
      var formData = new FormData(),
          $input = $(this);
      formData.append('image[image]', $input[0].files[0]);
      $.ajax({
        url: '<%= dashboard_image_upload_path %>',
        data: formData,
        type: 'PUT',
        cache:false,
        contentType: false,
        processData: false
      }).done(function(result){
          console.log(result.image_url);
          $('#preview').attr('src', result.image_url );
      });
    })
  })
  </script>
<% end %>
