<h1>This edit action</h1>

FB：<%= @user.fb_name %>

<%= form_for @user, url: dashboard_user_path, method: :patch do |f| %>

  <%= f.label :taiwan_name, "Name" %>
  <%= f.text_field :taiwan_name %>

  <br>

  <%= f.label :english_name, "English Name" %>
  <%= f.text_field :english_name %>

  <br>

  <!-- <%= f.label :paper, "論文題目" %>
  <%= f.text_area :paper %> -->

  <br>

  <%= f.label :profile, "Profile" %>
  <%= f.text_area :profile %>

  <br>

  <%= f.submit %>
<% end %>

<div class="ui modal">
  hello

</div>


<%= content_for :header do %>
  <script>
  $(function(){
    $('#user_cover').change(function(){

    })
  })
  </script>
<% end %>
