<h1>This edit action</h1>

<%= form_for @user, url: edit_dashboard_user_path, method: :patch do |f| %>


  <%= f.file_field :cover %><br><br>

  <div class="ui modal">
    hello
    <%= f.submit %>
  </div>

  <%= f.submit %>
<% end %>

<%= content_for :header do %>
  <script>
  $(function(){
    $('#user_cover').change(function(){
      var valuesToSubmit = $('form').serialize();

      $.ajax({
        type: "PATCH",
        url: $('.edit_user').attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log("success", json);
      });
      return false; // prevents normal behaviour
    })
  })
  </script>
<% end %>
