<div id="post_show_content" class="skinny_wrapper wrapper_padding">

  <header>
    <h1><%= @post.title %></h1>

    <p><%= @post.author.fb_name %></p>

    <hr>
  </header>

  <div id="content">
    <%= markdown @post.content %>
  </div>

  <br>



  <!-- 作者自己可以編輯 OR 指定特定人士能夠編輯  -->
  <% if @post.is_written_by?(current_user)   %>
    <%= link_to "Edit", edit_dashboard_post_path, class: "view_more" %>
  <% end %>

  <% if user_signed_in? && @post.is_authorized_to_edit_by?(current_user)  %>
    <%= link_to "授權編輯Edit", edit_dashboard_post_path, class: "view_more" %>
  <% end %>





</div>
